<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../styles/style.css"> -->
    <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header"></div>
      <div class="main">
        <!-- <div class="text">travel app</div>   -->

        <!-- <div> -->
        <form class="search-box" onsubmit="return Client.geteData(event)">
          <div class="location border-box">
            <div class="padding-box">
              <label class="tex itme-block">From</label>
              <input
                type="text"
                class="font-input"
                id="current-location"
                placeholder="City or airport"
              />
            </div>
            <div class="padding-box">
              <label class="tex itme-block">To</label>
              <input
                type="text"
                class="font-input"
                id="trip-location"
                placeholder="City or airport"
              />
            </div>
            <div class="padding-box">
              <label class="tex itme-block">Depart</label>
              <input type="date" class="font-input" id="date" />
            </div>
          </div>
          <input type="submit" value="Search" class="border-box button" />
        </form>
        <div class="model">
          <div class="box-model">
            <div class="modelheader">
              <div class="contentheader">Trip Infromation</div>
              <span class="close">&times</span>
            </div>
            <div class="bodycontent">
              <div class="center"></div>
              <div class="content"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>
